= render partial: @withdraw.currency

= content_for :guide do
  ul
    li = link_to t('.withdraw_btc'), new_withdraw_path
    li = link_to t('.withdraw_cny'), new_withdraw_path(currency: 'cny')

= content_for :after
  = panel do
    = datagrid_table(@withdraws_grid)

javascript:
  $(function(){
    Selectize.define('option_destroy', function() {
      var self = this;
      this.onOptionSelect = (function() {
        var original = self.onOptionSelect;
        return function(e) {
          $target = $(e.target);
          if ($target.hasClass('destroy-withdraw-address')) {
            $.ajax({
              url: '/withdraw_addresses/' + $target.data('addr-id'),
              type: 'DELETE'
              }).done(function(){
                self.clearOptions();
                self.load(self.settings.load);
                self.open();
              });
          } else {
            original.apply(this, arguments);
          }
        };
      })();
    });

    var $select = $('select').selectize({
      plugins: ['option_destroy'],
      preload: true,
      valueField: 'label',
      labelField: 'address',
      searchField: ['label', 'address'],
      create: true,
      render: {
        option: function(item, escape) {
          return '<div><div>' +
              '<span class="lead">' + escape(item.label) + '</span>' +
              '<a class="destroy-withdraw-address pull-right" href="javascript:void(0)" data-addr-id="' + item.id + '"> Delete </a>' +
            '</div>' +
            '<div>' +
              '<span>' + escape(item.address) + '</span>' +
            '</div></div>';
        }
      },
      load: function(query, callback) {
        if(!callback){
          callback = query;
          query = '';
        }
        $.ajax({
          url: '/withdraw_addresses?currency=' + $('input#withdraw_currency').val() + '&query=' + encodeURIComponent(query),
          type: 'GET',
          error: function() {
            callback();
          },
          success: function(res) {
            callback(res);
          }
        });
      },
      onItemAdd: function(label, $item) {
        $('form input#withdraw_address_label').val(label);
      }
    });
  });
