<div class="order">
  <%= link_to(
      I18n.t("datagrid.table.order.asc", :default => "&uarr;".html_safe).html_safe,
      url_for(grid.param_name => grid.as_query.merge(:order => column.name, :descending => false)),
      :class => "asc") %>
  <%= link_to(
      I18n.t("datagrid.table.order.desc", :default => "&darr;".html_safe).html_safe,
      url_for(grid.param_name => grid.as_query.merge(:order => column.name, :descending => true )),
      :class => "desc") %>
</div>
