<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span><%= @member.email %></span>
    </div>
    <div class="panel-body">
      <%= table_for @accounts, class: 'table table-condensed table-hover' do |t| %>
        <% t.column :id, class: 'col-xs-1' %>
        <% t.column :currency, class: 'col-xs-1' %>
        <% t.column :balance, class: 'col-xs-2' %>
        <% t.column :locked, class: 'col-xs-2' %>
        <% t.column :amount, class: 'col-xs-2' %>
        <% t.column :updated_at, class: 'col-xs-3' %>
        <% t.column :actions, class: 'col-xs-1' do |x| %>
          <% unless Currency.coin_codes.include?(x.currency) %>
            <%= link_to t('actions.edit'), edit_admin_member_account_path(@member.id,x), target: '_blank' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
