defaults: &defaults
  TIMEZONE: 'Paris'

  # Configuration variables for Redis.
  REDIS_URL:      redis://localhost:6379
  REDIS_PASSWORD: ~ # By default no password is sent to Redis server. Change this if you want to connect using password.

  # admin role account
  ADMIN: 'admin@peatio.tech'

  # site host
  URL_HOST: localhost:3000
  URL_SCHEME: http
  FORCE_SECURE_CONNECTION: false # Set to "true" to disable access via unsecured HTTP, send HSTS headers and use secure cookies.

  # session expire time (seconds)
  SESSION_EXPIRE: '60'

  # Configuration variables for mailer (production only).
  #
  # The variables below are the minimal set of configuration required for mailer to work.
  #
  # More variables are available at:
  # – https://github.com/mikel/mail
  # – http://api.rubyonrails.org/v4.2/classes/ActionMailer/Base.html
  # – config/environments/production.rb at config.action_mailer.smtp_settings
  #
  SMTP_ADDRESS:             ~
  SMTP_PORT:                ~
  SMTP_USERNAME:            ~
  SMTP_PASSWORD:            ~
  SMTP_AUTHENTICATION_TYPE: plain # Can be plain, login or cram_md5.

  # email accounts
  SUPPORT_MAIL: support@peatio.tech
  SYSTEM_MAIL_FROM: system@peatio.tech
  SYSTEM_MAIL_TO: group@peatio.tech
  OPERATE_MAIL_TO: support@peatio.tech

  # WebSocket Streaming API settings
  WEBSOCKET_HOST: 0.0.0.0
  WEBSOCKET_PORT: '8080'

  # Uncomment following lines to enable secure WebSocket (wss)
  # WEBSOCKET_SSL_KEY: 'your_server.key'
  # WEBSOCKET_SSL_CERT: 'your_server.crt'

  # pusher settings
  PUSHER_APP: '65910'
  PUSHER_KEY: 50d404c35db92d736a57
  PUSHER_SECRET: 75d6e6685209cc60cc4d
  PUSHER_HOST: api.pusherapp.com
  PUSHER_PORT: '80'
  PUSHER_WS_PORT: '80'
  PUSHER_WSS_PORT: '443'
  PUSHER_ENCRYPTED: 'on'
  
  # Enabled OAuth2 provider.
  # Don't forget to check out configuration at config/initializers/omniauth.rb.
  OAUTH2_SIGN_IN_PROVIDER: ~

  # Configuration variables for sign in with Google.
  # See https://github.com/zquestz/omniauth-google-oauth2
  GOOGLE_CLIENT_ID:
  GOOGLE_CLIENT_SECRET:
  GOOGLE_OAUTH2_REDIRECT_URL: ~ # Specify URL address to which user will be redirected after successful sign in.

  # Configuration variables for sign in with Auth0.
  # See https://github.com/auth0/omniauth-auth0
  AUTH0_OAUTH2_DOMAIN:
  AUTH0_OAUTH2_CLIENT_ID:
  AUTH0_OAUTH2_CLIENT_SECRET:
  AUTH0_OAUTH2_REDIRECT_URL:  ~ # Specify URL address to which user will be redirected after successful sign in.

  # Configuration variables for sign in with Barong OAuth2 server.
  # See https://github.com/rubykube/omniauth-barong
  #
  # Barong uses Doorkeeper under the hood so you can refer to it's docs any time.
  # See more information at https://github.com/doorkeeper-gem/doorkeeper/wiki/Testing-your-provider-with-OAuth2-gem
  BARONG_CLIENT_ID:           ~
  BARONG_CLIENT_SECRET:       ~
  BARONG_DOMAIN:              ~
  BARONG_OAUTH2_REDIRECT_URL: ~ # Specify URL address to which user will be redirected after successful sign in.

  # Configuration variables for API CORS.
  #
  # Set list of allowed origins using the variable below.
  # By default it allows access to API from all origins.
  # See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin
  API_CORS_ORIGINS: '*'

  # Configuration variables for Sentry.
  SENTRY_ENV:          production # Specify environments separated by comma for which Sentry should be initialized.
  SENTRY_DSN_BACKEND:  ~          # Specify Sentry DSN used for Rails application.
  SENTRY_DSN_FRONTEND: ~          # Specify Sentry DSN used for JavaScript application.

  # Configuration variables for appearance.
  LOGO_URL:                       ~
  HEADER_BACKGROUND_COLOR:        ~
  HEADER_BORDER_COLOR:            ~
  HEADER_LINK_COLOR:              ~
  HEADER_LINK_HOVER_COLOR:        ~
  HEADER_RUBRIC_ACTIVE_COLOR:     ~
  HEADER_RUBRIC_BACKGROUND_COLOR: ~
  MAIL_HEADER_BACKGROUND_COLOR:   ~

  # Configuration variables for webhooks.
  WEBHOOKS_SECURE_URL_COMPONENT: ~ # Optional. Set value if you want to secure URL to webhooks.
  # Example:
  #   When WEBHOOKS_SECURE_URL_COMPONENT is set to "B6p2csgf2h" the URL to webhooks becomes /webhooks/B6p2csgf2h/btc/hook.
  #   The default URL is /webhooks/btc/hook.

  # Customize title of markers page using the variable below:
  TITLE_MARKETS: PEATIO

  # Customize markets page metadata like title, description & keywords.
  MARKETS_METADATA_TITLE: Peatio Exchange

  # Customize page metadata like title, description & keywords for landing, cabinet & admin modules.
  METADATA_TITLE:       Peatio Exchange
  METADATA_DESCRIPTION: The Opensource Cryptocurrency Exchange
  METADATA_KEYWORDS:    Peatio,Opensource,Exchange,Cryptocurrency

  # Customize bank details which is shown at fiat deposit page. You are free to supply HTML here.
  BANK_DETAILS_HTML: |
    <div><strong>Use this bank to make a deposit:</strong></div>
    <div>Bank: National Bank of World</div>
    <div>Account: 1234567890</div>

  # Set to "true" to disable markets UI (admins still have access).
  DISABLE_MARKETS_UI: ~

  # Set to "true" to disable cabinet UI (admins still have access).
  DISABLE_CABINET_UI: ~

development:
  <<: *defaults

  # Development OAuth2 provider.
  OAUTH2_SIGN_IN_PROVIDER:    google

  # Development configuration variables for sign in with Google.
  GOOGLE_CLIENT_ID:           1044454023387-emhp5vmfnp5cf1n9juk09g8gcckrova7.apps.googleusercontent.com
  GOOGLE_CLIENT_SECRET:       tAFZvO200-0z3MpCyOpkPH0G

  # Development configuration variables for sign in with Auth0.
  AUTH0_OAUTH2_DOMAIN:        peatio-playground.auth0.com
  AUTH0_OAUTH2_CLIENT_ID:     lGKS9ADpknQr415RNZrrQTf3Jh8k2Fvc
  AUTH0_OAUTH2_CLIENT_SECRET: LxUPnrrrpRHSB-vVgWU3TwmakQ8acY5mYVTaVgkREQL3i9avjpOnWTXSSEsrbLzK

test:
  <<: *defaults

production:
  <<: *defaults
