= detail_section_tag t('.member_title')
= detail_tag withdraw.member, field: :name
= detail_tag withdraw.member, field: :email
= detail_tag withdraw.account, field: :currency_text
= detail_tag withdraw.account, field: :balance
= detail_tag withdraw.account, field: :locked
= detail_section_tag t('.withdraw_title')
= detail_tag withdraw, field: :sn
= detail_tag withdraw, field: :created_at
= detail_tag withdraw, field: :currency
= detail_tag withdraw, field: :position_in_queue
= detail_tag withdraw, field: :channel_name
= detail_tag withdraw, field: :state_text
= detail_tag withdraw.member, field: :name, clip: true
= detail_tag withdraw, field: :fund_uid, clip: true
= detail_tag withdraw, field: :fund_extra
= detail_tag withdraw, field: :withdraw_id, clip: true
= detail_tag withdraw, field: :amount, clip: true
= detail_tag withdraw, field: :fee
= detail_tag withdraw, field: :txid
