.row
  .col-xs-24
    .panel.panel-primary
      .panel-heading Currencies Summary
      .panel-body
        table.table.table-condensed
          thead: tr
            th Name
            th.text-right Locked
            th.text-right Balance
            th.text-right Sum
            th.text-right Hot-Wallet Balance
            th.text-right Cold-Wallet Balance

          tbody
            - @currencies_summary.each do |c|
              tr
                td: b = c[:name]
                td.text-right = c[:locked]
                td.text-right = c[:balance]
                td.text-right = c[:sum]

                - if c[:coinable]
                  td.text-right = c[:hot]
                  - if c[:hot] == 'N/A' || c[:hot].is_a?(Hash)
                    td.text-right = 'N/A'
                  - elsif c[:sum] - c[:hot] < 0
                    td.text-right = '0.0'
                  - else
                    td.text-right = c[:sum] - c[:hot]
                - else
                  td.text-right N/A
                  td.text-right N/A
      .panel-footer
        span Tips: Locked + Balance = Sum | Hot-Wallet + Cold-Wallet = Sum
.row
  .col-xs-12: .panel.panel-primary
    .panel-heading Exchange Summary
    .panel-body
      table.table.table-condensed
        thead: tr
          th Index
          th Count
        tbody
          tr
            td Register Count
            td = @register_count
