<p>
<%= t(".follow_the_link") %>
<br/>
<%= t('.unable_to_click') %>
</p>

<p>
<%= link_to @token_url, @token_url%>
</p>

<p>
<%= raw t("mailer.please_contact", contact_mail: ENV['SUPPORT_MAIL']) %>
</p>
