$grid-gutter-width: 10px;
$grid-columns: 24;

$body-bg: rgba(242, 242, 242, 1.0);

$brand-primary: #364450;
$brand-up: rgba(89, 132, 50, 0.7);
$brand-up-dark: opacify($brand-up, 1.0);
$brand-down: rgba(159, 49, 27, 0.7);
$brand-down-dark: opacify($brand-down, 1.0);

$navbar-default-bg: $brand-primary;
$navbar-default-link-color: #DCDCDC;
$navbar-default-link-hover-color: #EFEFEF;
$navbar-default-link-active-color: #EFEFEF;

$btn-default-bg: #428bca;
$btn-default-color: #fff;

$btn-info-bg: #fff;
$btn-info-color: #333;
