/* peatio exchange site vars
-------------------------------------------------------------- */
$sans-serif: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;

$footer-color: $gray-light;
$footer-link-color: #bbb;
$footer-height: 120px;
$footer-bg: $brand-primary;

$content-split: #ddd;

$btn-gutter-width: 20px;
$text-gutter-width: 5px;
$icon-gutter-width: 5px;

$up-bg: rgba(89, 132, 50, 1.0);
$down-bg: rgba(159, 49, 27, 1.0);
