<table class="table table-currencies" ng-repeat="account in accounts" bind="accounts">
  <tr class="currency-item" ng-class="{selected: accountsCtrl.isSelected(account.currency),
    'deposit-now': accountsCtrl.isDeposit(),
    'withdraw-now': accountsCtrl.isWithdraw() }"
    data-currency="{{account.currency}}">

    <td class="currency-logo"><img src="/icon-{{account.currency}}.png" alt=""><span class="currency-symbol">{{account.code_text}}</span></td>
    <td class="currency-balance-col">
      <p class="currency-balance"><span class="currency-sign"></span>{{account.balance}}</p>
      <span class="currency-balance-locked"><i class="fa fa-lock"></i> {{account.locked}}</span>
    </td>
    <td class="currency-actions">
      <p class="currency-deposit">{{ 'funds.deposit' | t }}</p>
      <p class="currency-withdraw">{{ 'funds.withdraw' | t }}</p>
    </td>
  </tr>
</table>
