- content_for :frame do
  .container.history-pages
    = render 'tabs', active: :trade

    .panel.panel-default#trades
      .panel-body
        .col-xs-24
          table.table.table-condensed.table-striped
            thead: tr
              th = t('.side')
              th = t('.created_at')
              th = t('.base_currency')
              th = t('.base_amount')
              th = t('.quote_currency')
              th = t('.quote_amount')
              th = t('.price')
            tbody.list
              = render partial: 'trade', collection: @trades
          .pull-right
            = paginate @trades
