.row
  .col-xs-12
    .panel.panel-primary
      .panel-heading
        span = t('.withdraw', sn: @ripple.id)
      .panel-body
        = description_for :withdraw do
          = item_for @ripple, :id
          = item_for @ripple, :created_at
          = item_for @ripple, :aasm_state_text
          hr.split
          = item_for @ripple.member, :name
          = item_for @ripple, :fund_extra
          = item_for @ripple, :fund_uid do
            span = @ripple.fund_uid.truncate(22)
          = item_for @ripple, :amount
          hr.split
          = item_for @ripple, :remark
          hr.split
          ul.list-inline.pull-right
            - if @ripple.may_reject?
              li
                = link_to t('.reject'), url_for([:admin, @ripple]), class: 'btn btn-danger', method: 'DELETE', confirm: t('.reject_confirm')
            - if @ripple.may_process?
              li
                = link_to t('.process'), url_for([:admin, @ripple]), class: 'btn btn-primary', method: 'PATCH'

  .col-xs-12
    = render partial: 'shared/admin/member', locals: {member: @ripple.member}
    = render partial: 'shared/admin/account', locals: {account: @ripple.account}
