#kline_chart {
  .panel-body { padding: 0; }
}

.profile-email{
  display: flex;
  word-break: break-all;
}

#assets-index {
  ul.assets-nav {
    li {
      padding: 0;
      display: inline-table;
    }
    a {
      width: auto !important;
    }
  }
}

header .account-settings {
   min-width: 140px;
   text-align: center;
}

#deposit_address{
  overflow: hidden;
  max-width: 450px;
  white-space: nowrap;
}

.form-control {
  height: 45px;
}