.global-footer {
  p {
    font-size: 14px;
  }
  .footer-nav {
    color: #ddd;
  }
  a {
    font-size: 14px;
    padding: 0 5px;
  }
  .beian {
    font-size: 14px;
    color: #bbb;
  }
  .text-bigger {
    font-size: 16px;
    margin: -3px 5px 0 0;
  }
}