/* auto header dropdown menu active
------------------------------------------------------ */

header {
  .dropdown-menu .sub-menu {
      left: 100%;
      position: absolute;
      top: 0;
      visibility: hidden;
      margin-top: -1px;
  }

  .navbar-brand { width: $brand-width; }

  .dropdown-menu li:hover .sub-menu {
      visibility: visible;
  }

  .dropdown:hover .dropdown-menu {
      display: block;
  }

  .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
      margin-top: 0;
  }

  .navbar .sub-menu:before {
      border-bottom: 7px solid transparent;
      border-left: none;
      border-right: 7px solid rgba(0, 0, 0, 0.2);
      border-top: 7px solid transparent;
      left: -7px;
      top: 10px;
  }
  .navbar .sub-menu:after {
      border-top: 6px solid transparent;
      border-left: none;
      border-right: 6px solid #fff;
      border-bottom: 6px solid transparent;
      left: 10px;
      top: 11px;
      left: -6px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .navbar-nav.navbar-left {
    float: left;
  }
  .navbar-nav.navbar-right {
    float: right;
  }
  .navbar-nav.navbar-right > .account-balance > a {
    border: 1px solid $navbar-default-link-color;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 18px;
    margin-bottom: 18px;
    > span { margin-right: 5px; }
  }

  .site-logo { margin-right: 40px; }

  .site-logo > a {
    width: 110px;
    height: 70px;
    background-image: image-url('site-logo.png');
    @include background-size(106px 35px);
    background-repeat: no-repeat;
    background-position: 0 12px;
    @include hide-text;
    .fa { display: none; }
  }
  .navbar-nav > .active {
    position: relative;
    &:after {
      bottom: -1px;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ffffff;
      border-width: 8px;
      margin-left: -8px;
    }
  }
}

/* account balance summary with header
------------------------------------------------------ */
header .account-balance {

  .dropdown-menu {
    padding-bottom: 0;
  }

  .account-wrap {
    width: 360px;
    padding: 8px;
    border-bottom: 1px solid $gray-light; 
  }

  hr {
    margin-top: 2px;
    margin-bottom: 0px;
    border-color: $gray-light;
    border-style: dashed;
  }

  i.fa, span.total-title {
    color: $gray-light;
  }

  i.fa.fa-plus {
    margin: 0px 0px;
  }

  span.account-name {
    color: $brand-primary;
    margin-top: -24px;
    padding-right: 10px;
    display: block;
    font-size: 18px;
    background-color: white;
    text-align: right;
  }

  span.balance, span.locked {
    color: $brand-primary;
  }

  span.total {
    font-size: 18px;
  }
}

/* account settings summary with header
------------------------------------------------------ */
header .account-settings {
  ul.dropdown-menu {
    width: 100%;
    min-width: 0px;
  }
}


/* languages selector with header
------------------------------------------------------ */
header #languages {
  width: 64px;
  min-width: 64px;
  li > a{ padding-top: 8px; }
}
