<div class="panel panel-primary">
  <div class="panel-heading">
    <%= t('.oneday') %>
  </div>
  <%= render partial: 'table', locals: {banks: @oneday_banks} %>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <%= t('.available') %>
  </div>
  <%= render partial: 'table', locals: {banks: @available_banks} %>
</div>
