<div class="container">
  <%- unless browser.modern? -%>
    <div class="alert alert-danger alert-colored-danger alert-dismissible mt-4" role="alert">
      <button class="close text-white" type="button" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <i class="icon fa fa-info"></i>
      <span class="text-important"><%= t('.modern').html_safe %></span>
    </div>

  <%- end -%>
  <div class="alert alert-danger alert-colored-danger alert-dismissable pusher-unavailable hide mt-4" role="alert">
    <button class="close text-white" type="button" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <i class="icon fa fa-info"></i>
    <span class="text-important"><%= t('.pusher_unavailable').html_safe %></span>
  </div>
</div>