<div id="document_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body"></div>
  <div class="modal-footer">
    <a class="close" data-dismiss="modal" aria-hidden="true">
      <%= t('.close') %>
    </a>
  </div>
</div>
