#document_modal.modal.hide.fade tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  .modal-body
  .modal-footer: a.close data-dismiss='modal' aria-hidden='true' = t('.close')
