<footer class="footer">
  <div class="container">
    <div class="text-center">
      <span>Version: v<%= Peatio::Application::VERSION %></span>
      <span> | Build date: <%= Peatio::Application::BUILD_DATE %></span>
      <span> | Commit: <%= Peatio::Application::GIT_SHA %></span>
    </div>
  </div>
</footer>
