<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
    <img src="/languages/<%= I18n.locale %>.png"/>
    <b class="caret"></b>
  </a>
  <div id="languages" class="dropdown-menu">
    <% I18n.available_locales.each do |lang| %>
      <a class="dropdown-item" href="?lang=<%= lang %>">
        <img src="/languages/<%= lang || I18n.locale %>.png"/>
      </a>
    <% end %>
  </div>
</li>
