.alert.alert-danger.alert-dismissable.pusher-unavailable.hide
  button.close type="button" data-dismiss="alert" aria-hidden="true" == "&times;"
  = t('.pusher_unavailable')
  a href="" = t('.refresh')
