<div class="panel panel-default">
  <div class="panel-heading">Accounts</div>
  <div class="panel-body">
    <div class='row'>
      <div class='col-md-12'>
        <ul class="list-group">
          {{#each model}}
          <li class="list-group-item">
          <div class='row'>
            <div class='col-md-18'>
              <h1>Account for <code>{{currency}}</code> <code>{{balance}}</code> / <code>{{locked}}</code></h1>
            </div>
            <div class='col-md-6'>
              <ul>
                <li>{{#link-to 'deposits' this.currency}}充值{{/link-to}}</li>
                <li>{{#link-to 'withdraws' this.currency}}提现{{/link-to}}</li>
              </ul>
            </div>
          </div>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class='col-md-8'>
        {{outlet}}
      </div>
    </div>
  </div>
</div>
