<h1 class="page-title">我的资产</h1>

<div class="panel panel-default">
  <div class="panel-body panel-currencies">

    <div class='row'>
      <div class='col-xs-8'>

        <div class="currencies-container">
          {{#each model}}
            {{view 'currency_item'}}
          {{/each}}
        </div>
      </div>

      <div class='col-xs-16'>
        <div class="details-container">
          {{template 'flash'}}
          {{outlet}}
        </div>
      </div>

    </div><!-- .row -->

  </div>
</div>
