<div class="flash-message" style="display: none;">
  <div class="alert alert-dismissable alert-warning" id="alert">
    <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
    <h5><i class="fa fa-info-circle"></i><span id="flash-content"></span></h5>
  </div>
</div>
