<div class="form-group required" id="memo_field">
  <div class="col-sm-6">
    <label class="decimal required control-label" for="withdraw_memo">Memo</label>
  </div>

  <div class="col-sm-12">
    <div class="input-group">
      <input class="form-control" id="withdraw_sum" name="withdraw[memo]" placeholder="选填" step="any" value="">
    </div>
  </div>
</div>
