<div class="input-group col-sm-8">
  <div class="input-group-addon">
    <span>地址</span></div><div class="form-control form-control-static" id="deposit_address">{{unbound depositAddress}}</div><div class="input-group-addon" id="deposit_address_data">
      <i class="fa fa-copy" data-clipboard-text="{{unbound depositAddress}}"></i>
   </div>
</div>

</br>

<div class="input-group col-sm-18">
  <div class="input-group-addon">
    <span style="color: red;">Memo</span></div><div class="form-control form-control-static" id="memo">{{unbound memo}}</div><div class="input-group-addon">
      <i class="fa fa-copy" data-clipboard-text="{{unbound memo}}"></i>
   </div>
</div>


