// FundSource Management Dialog
#funds-index {
  .ngdialog.ngdialog-theme-default.custom-width {
    .ngdialog-content {
      width: 600px;
    }
    &.coin .ngdialog-content {
      width: 700px;
    }
  }
}

// ngDialog Confim Dialog
.ngdialog.ngdialog-theme-default .dialog-contents {
  button.cancel { margin-right: 10px; }
}
