connect:
  host: 127.0.0.1
  port: 5672

exchange:
  trade_after_strike:
    name: peatio.trade.after_strike
    type: fanout

queue:
  matching:       peatio.matching
  trade_executor: peatio.trade.new
  pusher:         peatio.pusher

  withdraw_audit: peatio.withdraw.audit
  withdraw_coin:  peatio.withdraw.coin
  mailer:         peatio.mailer
