connect:
  host: 127.0.0.1
  port: 5672

exchange:
  trade_after_strike:
    name: peatio.trade.after_strike
    type: fanout

binding:
  matching:
    queue: peatio.matching
  trade_executor:
    queue: peatio.trade.new
  pusher:
    queue: peatio.pusher
    exchange: trade_after_strike
  withdraw_audit:
    queue: peatio.withdraw.audit
  withdraw_coin:
    queue: peatio.withdraw.coin
  mailer:
    queue: peatio.mailer
