defaults: &defaults
  currencies:
    cny: 1
    btc: 2
  coins:
    btc: http://username:password@127.0.0.1:18332
  assets:
    btc: 1234567
    cny: 1234567890
  addresses:
    btc:
      - 1dice8EMZmqKvrGE4Qc9bUFf9PX3xaYDp
    cny:
      address: 'XXXX XXXX XXXX XXXX'
      password: 'XXXXXX'
      tel: 'XXX XXXXXXXX'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
