<h1 class="page-title"><%= t('header.funds') %></h1>

<div class="card card-default">
  <div class="card-currencies">

    <div class="row">
      <div class="col-4 pr-0">

        <div class="currencies-container">
          <accounts></accounts>
        </div>
      </div>

      <div class="col-8 border-left">
        <div class="card-body">
          <!-- {{template 'flash'}} -->
          <ui-view></ui-view>
        </div>
      </div>

    </div><!-- .row -->

  </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function(){
      $.ajax({
        type: "post",
        url: "<%= gen_address_funds_path %>"
      })
    });
  </script>
<% end %>
