.row
  .col-xs-6
    = detail_section_tag "#{t('.deposit')}"
    = simple_form_for @deposit, :url => admin_currency_deposit_path do |f|
      = f.input :txid, readonly: true
      = f.input :sn, readonly: @member ? true : false
      = f.input :fund_uid, readonly: true
      = f.input :member_id, as: :hidden
      = f.input :fund_extra, readonly: true
      = f.input :amount, readonly: true
      = f.button :submit
      - if @member
        a.btn.btn-inverse target='_blank' href='#{admin_member_path(@member)}' #{t('actions.view')}
  .col-xs-6
    - @member && @member.accounts.each do |a|
      = detail_section_tag "#{a.currency_text} #{t('.accounts_title')}"
      = detail_tag a, field: :currency_text
      = detail_tag a, field: :balance
      = detail_tag a, field: :locked
