<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: 'deposit', locals: {deposit: @deposit} %>
      </div>
    </div>
  </div>
</div>
