= simple_vertical_form_for [:admin, document] do |f|
  = f.input :title
  = f.input :key
  = render 'wysiwyg_toolbar', target: '#document_body'
  = f.input :body, as: :text
  = f.input :is_auth
  = f.button :submit

coffee:
  $ ->
    $("a[title]").tooltip container: "body"
    $(".dropdown-menu input").click(->
      false
    ).change(->
      $(this).parent(".dropdown-menu").siblings(".dropdown-toggle").dropdown "toggle"
      return
    ).keydown "esc", ->
      @value = ""
      $(this).change()
      return

    $("#document_body").wysiwyg
      hotKeys:
        "ctrl+b meta+b": "bold"
        "ctrl+i meta+i": "italic"
        "ctrl+u meta+u": "underline"
        "ctrl+z meta+z": "undo"
        "ctrl+y meta+y meta+shift+z": "redo"
      dragAndDropImages: false

