<div class="card card-default">
  <div class="card-body">
    <div class="row">
      <div id="guide" class="col-4">
        <h3><%= t('.title', currency: currency.code.upcase) %></h3>
        <p class="text-ignore"><%= t('.intro', currency: currency.code.upcase) %></p>
      </div>
      <div id="content" class="col-8">
        <div class="jumbotron">
          <div class="row">
            <div class="col-offset-4 col-8">
              <span class="pull-left">
                <%= t('.total', currency: currency.code.upcase) %>
              </span>
              <span class="pull-right">
                <%= @fiat_proof.present? ? @fiat_proof.sum : t('private.assets.liability_proof_generation') %>
              </span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
