<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div id="guide" class="col-xs-8">
        <h3><%= t('.title', currency: Peatio.base_fiat_ccy) %></h3>
        <p class="text-ignore"><%= t('.intro', currency: Peatio.base_fiat_ccy) %></p>
      </div>
      <div id="content" class="col-xs-16">
        <div class="jumbotron">
          <div class="row">
            <div class="col-xs-offset-4 col-xs-16">
              <span class="pull-left">
                <%= t('.total', currency: Peatio.base_fiat_ccy) %>
              </span>
              <span class="pull-right">
                <%= @fiat_proof.present? ? @fiat_proof.sum : t('private.assets.liability_proof_generation') %>
              </span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
