<div class="card card-default">
  <div class="card-body">
    <div class="row">
      <div id="guide" class="col-4">
        <h3><%= t('.title') %></h3>
        <p class="text-ignore"><%= t('.intro') %></p>
      </div>
      <div id="content" class="col-8">
        <%= render 'liability_tabs' %>
      </div>
    </div>
  </div>
</div>
