<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div id="guide" class="col-xs-8">
        <h3><%= t('.title') %></h3>
        <p class="text-ignore"><%= t('.intro') %></p>
        <p>
          <%= link_to t('.how-to-verify'), t('.how-to-verify-uri'), target: '_blank' %>
        </p>
      </div>
      <div id="content" class="col-xs-16">
        <%= render 'liability_tabs' %>
      </div>
    </div>
  </div>
</div>
