- unless @one_banks.empty?
  .panel.panel-primary
    .panel-heading: span = t('.one')
    = render partial: 'table', locals: {banks: @one_banks}

- unless @all_banks.empty?
  .panel.panel-success
    .panel-heading: span = t('.all')
    = render partial: 'table', locals: {banks: @all_banks}

- if @all_banks.empty? and @one_banks.empty?
  h3.text-info.text-center = t('.empty')
