<tr>
  <td class="time text-left col-xs-12">{{{format_trade_time date}}}</td>
  <td class="price text-right col-xs-6 {{{format_trend type}}}">{{{format_mask_fixed_price price }}}</td>
  <td class="amount text-right col-xs-6">{{{format_mask_fixed_volume amount }}}</td>
</tr>
