<tr>
  <td class='price col-sm-8'>
    <div class='pull-left'>{{{hint}}}</div>
    <div class='pull-right'>{{{format_mask_fixed_price trade.price}}}</div>
  </td>
  <td class='amount col-sm-8'>{{{format_mask_fixed_amount trade.amount}}}</td>
</tr>
