<tr data-order='{{index}}'>
<td class='amount col-xs-10'>{{{format_amount volume price }}}</td>
<td class='volume col-xs-7'>{{{format_mask_fixed_volume volume}}}</td>
<td class='price col-xs-7 text-up'>{{{format_mask_fixed_price price }}}</td>
</tr>
