@import 'bootstrap-datetimepicker';
@import 'swagger-ui/highlight.default';
@import 'swagger-ui/screen';
@import 'api_v2_basic';

.swagger-ui-wrap {
  h1, h2 {
    margin: 0;
  }
}

#documents-api_v2 {
  table.result {
    th:nth-child(1) { width: 80px; }
    th:nth-child(3) { width: 300px; }

    p {
      margin: 0px;
      padding: 0px;
    }
  }

  footer {
    margin-top: 30px;
  }
}
