/*basic extend*/
g { color: @gray-light; }

/*bootstrap mix*/
/*bootstrap extend*/
/*fontawesome extend*/

* + i[class^=fa] { margin-left: 4px; }
i[class^=fa] + * { margin-left: 4px; }

.text-ignore {
  color: @gray-light; 
}

strong + span {
  margin-left: 5px;
}

span.label + span.label {
  margin-left: 8px;
}

.form-submit {
  input + a {
    margin-right: 20px;
  }
}

hr.split {
  border-top-color: #DDD;
  margin-left: 10px;
  margin-right: 54px;
}

/*numeral extend*/

/*simple_form extend*/

/* webkit */

/* basic */
