/*basic extend*/
g { color: $gray-light; }

/*bootstrap mix*/
/*bootstrap extend*/
/*fontawesome extend*/

* + i[class^=fa] { margin-left: 4px; }
i[class^=fa] + * { margin-left: 4px; }

.text-ignore {
  color: $gray-light;
}

strong + span {
  margin-left: 5px;
}

span.label + span.label {
  margin-left: 8px;
}

.form-submit, .form-group {
  input[type=submit] + a, a + a {
    margin-right: 20px;
  }
}

hr.split {
  border-top-color: #DDD;
  margin-left: 10px;
  margin-right: 54px;
}

.caret {
  margin-left: 10px;
}

/*simple_form extend*/

/* webkit */

/* basic */
[data-title] {
  &:before {
    .text-ignore {
      font-size: 16px;
      display: block;
      content: attr(data-title);
    }
  }
}

.col{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.col-wrap {
  overflow: hidden;
}

.datagrid-empty {
  .text-ignore {
    font-size: 16px;
    text-align: center;
  }
}

span.label {
  padding-top: 5px;
}

abbr {
  border-bottom: 0px !important;
}

span.error { color: $brand-warning; }

#alert.alert, #notice.alert, #info.alert {
  h5 {
    i.fa {
      margin-right: 10px;
    }
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

span.hint, span.error {
  margin-top: 6px;
  font-size: 14px;
}

.list-group-item h4 {
  margin-bottom: 2px;
}

.upcase {
  text-transform: uppercase;
}

#languages {
  min-width: 64px;
  width: 64px;
  li > a{
    padding-top: 8px;
  }
}

input.boolean.optional.form-control {
  width: inherit;
  display: inherit;
  height: auto;
  margin-left: 0px;
  margin-right: 6px;
}

.counter {
  opacity: 1;
  position: absolute;
  top: 6px;
  right: 2px;
  display: inline-block;
  font-size: 9px;
  font-family: verdana;
  line-height: 14px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  background-color: #ff4918;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transition: opacity .3s ease-in-out, visibility .2s ease;
  -moz-transition: opacity .3s ease-in-out, visibility .2s ease;
  -o-transition: opacity .3s ease-in-out, visibility .2s ease;
  transition: opacity .3s ease-in-out, visibility .2s ease;
}

.unread {
  background: #f2f2f2;
  margin-right: 15px;
}
