header {
  .account-balance {

    .dropdown-menu {
      padding-bottom: 0;
    }

    .account-wrap {
      width: 320px;
      padding: 8px;
      border-bottom: 1px solid $ignore-color; 
    }

    hr {
      margin-top: 2px;
      margin-bottom: 0px;
      border-color: $ignore-color;
      border-style: dashed;
    }

    i.fa, span.total-title {
      color: $ignore-color;
    }

    span.account-name {
      color: $main-color;
      margin-top: 12px;
      display: block;
      font-size: 18px;
    }

    span.balance, span.locked {
      color: $main-color;
    }

    span.total {
      font-size: 18px;
    }
  }
}
