#markets-show {
  .container > .row {
    margin-bottom: 10px;
  }
  .container > .row > .col-md-13 > .panel {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-bottom: 0px;
  }
  .market-ticker {
    padding-top: 5px;
  }
  .ticker-wrapper {
    height: 78px;
  }
  .row.ticker {
    height: 30px;
    padding-top: 10px;

    .dl-horizontal {
      dt { 
        width: 38px; 
        cursor: pointer;
        color: $main-color; 
      }
      dd { margin-left: 40px; }

      &:first-of-type {
        dt { width: 60px; }
        dd { margin-left: 62px; }
      }
    }
  }

  .row.ticker-wrapper {
    border-bottom: 1px solid $split-color;
  }

  .market-name {
    font-family: monospace;
    font-size: 50px;
    margin-top: 22px;
    color: transparentize(#eee, 0.1);
    &:hover {
      cursor: pointer;
      text-shadow: 1px 1px 2px $main-color;
      color: rgba(#eee, 0.7);
    }
  }

  .market-chart {
    padding-top: 0px;
  }

}
