.market-selector {
  margin-bottom: 15px;
  a.btn {
    margin: 0 10px 0 auto;
    &.btn-default {
      font-weight: normal;
      color: #555;
      background-color: #eee;
      border: 1px solid #ccc;
    }
    &.btn-default:hover {
      color: #fff;
      background-color: $btn-primary-bg;
    }
  }
}

.ticker {
  dl {
    float: left;
    margin-bottom: 0;
    dt, dd {
      height: 28px;
      line-height: 28px;
    }
    span.name {
      vertical-align: top;
      color: #888;
      font-size: 13px;
      margin-right: 5px;
    }
    span.value {
      color: #444;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.market-chart {
  border-top: 1px solid #ccc;
}

