#markets-show {
  table {
    th {
      &.price, &.amount, &.volume {
        text-align: right;
      }
    }

    td {
      font-size: 14px;
      line-height: 14px !important;
      padding: 2px;
      border: none;

      &.price, &.amount, &.volume {
        text-align: right;
        font-family: monospace;
      }
    }

    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .row:last-of-type .panel .panel-body{
    height: 410px;
  }

  .panel {
    padding-bottom: 10px;

    .panel-heading {
      padding-top: 5px;
      padding-bottom: 5px;

      > * {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .panel-body {
      &.my-orders {
        .tab-content {
          height: 325px;
          overflow-y: auto;
        }
      }

      &.trades {
        overflow-y: auto;
      }

      &.orders {
        tr:hover {
          cursor: pointer;
          font-weight: bold;
        }
      }

      &.place-order {
        height: 390px;

        .last-price .value {
          margin-left: 10px;
          cursor: pointer;
        }

        .input-group-addon {
          min-width: 75px;
          text-align: right;
        }

        .input-group-addon:last-child {
          min-width: 45px;
        }

        .current-balance label {
          margin-right: 5px;

          &.currency {
            text-transform: uppercase;
          }
        }

        span.label + span.label {
          margin-left: 0;
        }
      }

    }
  }

  .account-balance {
    ul li {
      span.name {
        float: left;
      }
      span.value {
        float: right;
      }
    }
  }

  .type-toggle {
    width: 100%;

    a, a:hover {
      padding: 6px 12px;
      display: block;
      color: white;
      text-decoration: none;
    }

    .btn {
      padding: 0;
      width: 50%;

      &.btn-primary {
        border-color: #ccc;
        background-color: #eee;
        a {
          color: #555;
        }
      }
      &.active {
        background-color: $btn-primary-bg;
        border-color: #34404b;
        a {
          color: white;
        }
      }
    }
  }

}
