#market {
  table td {
    font-size: 14px;
    line-height: 14px !important;
    padding: 2px;
    border: none;

    &.price, &.amount {
      text-align: right;
      font-family: monospace;
    }
  }

  .orders {
    tr:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
