#markets-show > .container {
  table {
    th, td {
      &.price, &.amount, &.volume {
        text-align: right;
        font-family: monospace;
      }
    }

    td {
      font-size: 14px;
      line-height: 14px !important;
      padding: 2px;
      border: none;
    }

    margin-bottom: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .row:last-of-type .panel .panel-body{
    height: 430px;
  }

  .panel {
    padding-bottom: 10px;

    .panel-heading {
      padding-top: 5px;
      padding-bottom: 5px;

      > * {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .panel-body {
      &.my-orders {
        .one-click-clear {
          margin: 10px 0 10px 0;

          .dropdown-menu {
            min-width: 0px;
          }
        }

        .tab-content {
          height: 325px;
          overflow-y: auto;
        }
      }

      &.trades {
        overflow-y: auto;
      }

      &.order-book {
        tr:hover {
          cursor: pointer;
          font-weight: bold;
        }

        .seperator {
          margin: 15px 0 15px 0;
          color: #bbb;
          g { color: #bbb; }
        }
      }

      &.place-order {
        height: 390px;

        .last-price .value {
          cursor: pointer;
        }

        .input-group-addon {
          min-width: 75px;
          text-align: right;
        }

        .input-group-addon:last-child {
          min-width: 45px;
        }

        label.name {
          display: inline-block;
          width: 70px;
          margin-right: 10px;
        }

        span.label + span.label {
          margin-left: 0;
        }
      }

    }
  }

  .account-balance {
    ul li {
      span.name {
        float: left;
      }
      span.value {
        float: right;
      }
    }
  }

  .type-toggle {
    width: 100%;

    a, a:hover {
      padding: 6px 12px;
      display: block;
      color: white;
      text-decoration: none;
    }

    .btn {
      padding: 0;
      width: 50%;

      &.btn-primary {
        border-color: #ccc;
        background-color: #eee;
        a {
          color: #555;
        }
      }
      &.active {
        background-color: $btn-primary-bg;
        border-color: #34404b;
        a {
          color: white;
        }
      }
    }
  }

}
