@import 'lesshat';
@import "bootstrap/variables";
@import "peatio_bootstrap_variables";
@grid-gutter-width: 10px;
@import "bootstrap/bootstrap";
@import 'font-awesome';
@import 'basic';
@import 'layout';

#market {
  table td {
    font-size: 14px;
    line-height: 14px !important;
    padding: 2px;
    border: none;

    &.price, &.amount {
      text-align: right;
      font-family: monospace;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .panel {
    margin-bottom: 10px;
    overflow: hidden;

    .panel-heading  > * {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .row:first-of-type .panel {
    height: 110px;
  }

  .row:nth-of-type(2) .panel {
    height: 475px;
  }

  .row:last-of-type .panel {
    height: 430px;
  }

  .ticker {
    li {
      text-align: center;
    }
  }

  #market_selector li {
    display: inline-block;
    margin-right: 10px;
  }

  .account-balance {
    ul li {
      span.name {
        float: left;
      }
      span.value {
        float: right;
      }
    }
  }

  .orders {
    tr:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
