#welcome-index {
  .navbar {
    margin-bottom: 0;
  }

  .main-section {
    padding: 70px 0;
    background-color: white;

    &.main-section-lighter {
      background-color: #f9f9f9;
    }
  }

  #site-title {
    h1 {
      color: #555;
      font-weight: 900;
      padding-top: 30px;
      font-size: 40px;
    }
  }

  .login-box {
    background-color: #f9f9f9;
    padding: 30px 0 80px 20px;
    border: 1px solid #d8dee3;
    border-radius: 5px;
    .col-sm-8 { width: 15%; }
    .col-sm-14 { width: 75%; }
  }

  .clock {
    width: 620px;
    margin: 30px auto 10px auto;
  }

  .tickers {
    font-size: 16px;

    table {
      .text-left {
        padding-left: 25px;
      }
    }
  }
}
