#welcome-index {
  .navbar {
    margin-bottom: 0;
  }

  .main-section {
    padding: 70px 0;
    background-color: white;

    &.main-section-lighter {
      background-color: #f9f9f9;
    }
  }

  .login-box {
    background-color: #f9f9f9;
    padding: 30px 0 20px 20px;
    border: 1px solid #d8dee3;
    border-radius: 5px;
    .col-sm-8 { width: 15%; }
    .col-sm-14 { width: 75%; }
  }

  .clock {
    width: 620px;
    margin: 0 auto;
  }

  .tickers {
    table {
      .text-left {
        padding-left: 25px;
      }
    }
  }
}
