- send_coin = t('.send-coin')
- check_confirm = t('.check-confirm', path: exchange_assets_path).html_safe
- locals = { address: @address, assets: @assets, model: @model, send_coin: send_coin, check_confirm: check_confirm }
= render partial: 'private/deposits/shared/new', locals: locals
