<div class="row row-tips">
  <div class="col-xs-24 text-right">
    <span class="label label-info status-info"></span>
    <span class="label label-success status-success"></span>
    <span class="label label-danger status-danger"></span>
    <span class="current-balance number"></span>
    <span class="unit"><%= currency %></span>
  </div>
</div>
