<div id="chat" class="card">
  <div class="panel-heading">
    <span><%= t('.title') %></span>
    <a class="hand-point pull-right">
      <i class="fa fa-close"></i>
    </a>
  </div>
  <div class="panel-body panel-body-content">
  </div>
</div>
