<div id="indicator_switch_wrapper" class="switch">
  <ul class="list-inline">
    <li>
      <ul id="type_switch" class="indicator_switch list-inline" data-x="candlestick">
        <li class="text-center">
          <a class="hand-point" data-x="candlestick" href="#"><%= t('chart.candlestick') %></a>
        </li>
        <li class="text-center">
          <a class="hand-point" data-x="close" href="#"><%= t('chart.line') %></a>
        </li>
        <li class="text-center">
          <span> | </span>
        </li>
      </ul>
    </li>
    <li>
      <ul id="main_indicator_switch" class="indicator_switch list-inline" data-x="MA">
        <li class="text-center">
          <a class="hand-point" data-x="MA" href="#">MA</a>
        </li>
        <li class="text-center">
          <a class="hand-point" data-x="EMA" href="#">EMA</a>
        </li>
        <li class="text-center">
          <span> | </span>
        </li>
      </ul>
    </li>
    <li>
      <ul id="indicator_switch" class="indicator_switch list-inline" data-x="MACD">
        <li class="text-center">
          <a class="hand-point" data-x="MACD" href="#">MACD</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
