<div id="ticker" class="panel panel-default">
  <div class="panel-body">
    <div class="bid col-xs-7 pull-left">
      <div class="hint">
        <%= t('.bid') %>
      </div>
      <div class="price"></div>
    </div>
    <div class="last col-xs-10">
      <div class="price"></div>
    </div>
    <div class="ask col-xs-7 pull-right">
      <div class="hint">
        <%= t('.ask') %>
      </div>
      <div class="price"></div>
    </div>
  </div>
</div>
