#ticker.panel.panel-default
  .panel-body
    .bid.col-xs-7.pull-left
      .hint = t('.bid')
      .price
    .last.col-xs-10
      .price
    .ask.col-xs-7.pull-right
      .hint = t('.ask')
      .price
