<h2 class="panel-title mb-3">{{"funds.deposit_fiat.title" | t:currencyTranslationLocals}}</h2>
<div class="help-block" ng-bind-html="'funds.deposit_fiat.description' | t | unsafe"></div>

<div ng-bind-html="bank_details_html | unsafe"></div>

<div><span>Your reference: </span><strong ng-bind="current_user.sn"></strong>.</div>
<div class="text-muted">IMPORTANT: This code identifies your deposit with your account. Include this code when submitting wire transfer.</div>

<h2 class="panel-title mt-5 mb-3">{{ "funds.deposit_history.title" | t }}</h2>
<table class="table" ng-controller="DepositHistoryController as dhCtrl">
  <tr>
    <th>{{ "funds.deposit_history.identification" | t }}</th>
    <th>{{ "funds.deposit_history.time" | t }}</th>
    <th>{{ "funds.deposit_history.amount" | t }}</th>
    <th>Fee</th>
    <th>{{ "funds.deposit_history.state_and_action" | t }}</th>
  </tr>
  <tr class="deposit_item" ng-class="{ 'new-row':dhCtrl.newRecord(deposit) }" ng-repeat="deposit in dhCtrl.deposits | orderBy:predicate">
    <td><span class="outlined-label">{{ deposit.id }}</span></td>
    <td>{{ deposit.created_at | date:'yyyy-MM-dd HH:mm' }}</td>
    <td>{{ deposit.amount }}</td>
    <td>{{ deposit.fee }}</td>
    <td>{{ 'funds.deposit_history.' + deposit.aasm_state | t }}
      <span ng-if="dhCtrl.canCancel(deposit.aasm_state)">/
        <a ng-click="dhCtrl.cancelDeposit(deposit); $event.preventDefault()" href="#" class="cancel_link">{{ "funds.deposit_history.cancel" | t }}</a>
      </span>
    </td>
  </tr>
  <tr ng-show="dhCtrl.canCancel(deposit.aasm_state)"><td colspan="6"><span class="help-block text-center">{{ "funds.deposit_history.no_data" | t }}</span></td></tr>
</table>
