<div class="card card-default">
  <div class="card-header">
    <h4 class="card-title row">
      <a data-parent="#filter-accordion" data-toggle="collapse" href="#summary">
        <span class="col-8">
          <%= t('admin.statistic.summary') %>
        </span>
        <span class="col-4 text-right text-muted">
          <%= t('admin.statistic.click-to-expand') %>
        </span>
      </a>
    </h4>
  </div>
  <div id="summary" class="card-collapse collapse">
    <div class="card-body">
      <div class="datagrid-groups">
        <% if groups %>
          <% groups.each do |key, val| %>
            <div class="datagrid group row">
              <span class="col-2 title">
                <%= t("admin.statistic.#{controller_name}.#{controller.action_name}.#{key}") %>
              </span>
              <span class="col-10 value">
                <%= val %>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
