<% unless @latest_withdraws.empty? %>
  <h3>Withdraws for the last 24 hours</h3>
  <div class="card">
    <%= render partial: 'table', locals: {withdraws: @latest_withdraws} %>
  </div>
<% end %>
<% unless @all_withdraws.empty? %>
  <h3>All withdraws</h3>
  <div class="card">
    <%= render partial: 'table', locals: {withdraws: @all_withdraws} %>
  </div>
<% end %>
