<div class="admin-header bg-white border-bottom navbar navbar-light p-0 sticky-top">
  <div class="w-100 d-flex justify-content-between">
    <div>
      <div class="hide-on-closed-sidebar">
        <div class="p-4 d-flex align-items-center">
          <i class="h5-font-size mr-2 text-primary toggle-sidebar-icon fa fa-caret-left"></i>
          <a href="javascript:void(0);" id="sidebarCollapse" class="text-dark">
            <h1 class="h4 m-0 brand"><i class="fa fa-bars"></i></h1>
          </a>
        </div>
      </div>
    </div>
    <div>
      <ul class="float-right list-unstyled mt-3 pt-1">
        <%= render partial: 'shared/header_profile_setting' if current_user %>
      </ul>
    </div>
  </div>
</div>